html {
  font-family: arial;
  font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #e0ffe0;
}

th {
    background-color: #ffe0e0;
}

a:link {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}
